
<html>
 <head>
  <title>Ansible Anwendung</title>
 </head>
 <body>
<?php 
 Print "Hallo! Ich bin ein Webserver der mit Ansible konfiguriert wurde und ich bin: ";
 echo exec('hostname');
 Print  "</BR>";
echo  "Liste der Datenbanken: </BR>";
        {% for host in groups['dbservers'] %}
                $link = mysqli_connect('{{ hostvars[host].ansible_default_ipv4.address }}', '{{ hostvars[host].dbuser }}', '{{ hostvars[host].upassword }}') or die(mysqli_connect_error($link));
        {% endfor %}
        $res = mysqli_query($link, "SHOW DATABASES;");
        while ($row = mysqli_fetch_assoc($res)) {
                echo $row['Database'] . "\n";
        }
?>
</body>
</html>
